* {

	font-family: 'Karla', sans-serif;
	font-size: 1.1rem;


}

.navbar {

	background-color: #6A6CD8;
}

footer {
	background-color: #6A6CD8;
}


#gmap_canvas  {
height: 60vh;
width: 100%;
}

.fa-icons {
	font-size: 2rem;
}	

